.green-text {
  color: #5aed08;
}
.hover-link {
  transition: all 400ms;
}
.hover-link:hover {
  color: blanchedalmond;
}
.navbar {
  background-color: black;
}
.stylish-btn {
  border: 3px solid #5aed08;
  border-radius: 20px 0;
  font-size: small;
  background-color: black;
  color: white;
  padding: 5px 20px !important;
  max-width: max-content;
}
img {
  width: 100%;
}
.navbar-toggler{
	width: 50px;
}
.on-banner{
  background-color: rgba(40, 98, 191, 0.4);
  padding-left: 3cm;
}
.on-banner p{
  font-size: 50px;
}